<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">Fingerprint</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/attendance}">Attendance</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/logout}">Log out</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/signIn}">Sign in</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="login-page-content">
        <div class="login-box">
            <form class="login-form" th:action="@{/signUp}" method="post">
                <div class="form-group">
                    <label>FirstName</label>
                    <input class="form-control" name="firstName" placeholder="firstName" type="text">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="form-group">
                    <label>LastName</label>
                    <input class="form-control" name="lastName" placeholder="lastName" type="text">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="userName" placeholder="username" type="text">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" placeholder="password" type="password">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group">
                    <select name="role">
<!--                        <option th:each="role:${T(manas.project.attendance.model.Role).values()}"-->
<!--                        th:value="${role}" th:text="${role}"></option>-->
                        <option th:value="'STUDENT'" th:text="STUDENT"></option>
                        <option th:value="'TEACHER'" th:text="TEACHER"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>